body {
  margin: 0 0;
  background-color: white;
}
.SpiderBox {
  width: 100%;
  height: 100%;
}
.SpiderPic {
  width: 100%;
  height: 600px;
}
.Ps_video {
  width: 800px;
  height: 500px;
  text-align: center;
  margin: auto;
  margin-top: 20px;
}
.Tittle {
  width: 100%;
  padding: 20px;
  margin-top: 20px;
  text-align: center;
}
.T1 {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  font-size: 40px;
  color: rgb(28, 80, 224);
}
.Main_box {
  height: 500px;
  width: 100%;
  display: flex;
}
.Img {
  height: 400px;
  width: 700px;
  margin-left: 100px;
  margin-top: 50px;
}
.T2 {
  text-align: left;
  height: auto;
  padding-left: 20px;
  margin-top: 10px;
}
.t2 {
  font-size: 30px;
  font-family: Arial, Helvetica, sans-serif;
}
.I1 {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 20px;
}
.button {
  padding: 10px;
  font-weight: 600;
  font-size: 20px;
  color: #ffffff;
  background-color: #2c64e7;
  border-radius: 30px;
}
.button:hover {
  border: 4px solid #2c64e7;
}
.Main_box2 {
  margin-bottom: 30px;
  height: 500px;
  width: 100;
  display: flex;
  background-color: rgb(105, 102, 102);
}
.pic {
  height: 400px;
  width: 700px;
}
.t3 {
  font-size: 30px;
  font-family: Arial, Helvetica, sans-serif;
  color: white;
}
.I2 {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 20px;
  color: white;
}
.button2 {
  padding: 10px;
  font-weight: 600;
  font-size: 20px;
  color: black;
  background-color: white;
  border-radius: 30px;
}
.button2:hover {
  border: 4px solid black;
}
.Main_box3 {
  height: 500px;
  width: 100%;
  display: flex;
  background-color: #4d7783;
}
.Central_Box {
  margin-top: 50px;
  width: 100%;
  height: 700px;
  display: flex;
}
.Box1 {
  width: 50%;
}
.Box2 {
  width: 50%;
}
.Central_pic {
  width: 644px;
  height: 362px;
  margin-left: 30px;
}
.Text1 {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  font-size: 30px;
  margin-left: 30px;
  margin-top: 40px;
}
.Text2 {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  font-size: 20px;
  margin-left: 30px;
  margin-top: 40px;
}
.button3 {
  padding: 10px;
  font-weight: 600;
  font-size: 20px;
  color: #ffffff;
  background-color: #2c64e7;
  border-radius: 30px;
  margin-left: 30px;
}
.button3:hover {
  border: 4px solid #2c64e7;
}
.Box_a {
  width: 100%;
  height: 600px;
  background-image: url(./Pics/Fifa_bg.JPEG);
  margin-top: 50px;
}
.Central_text {
  width: 100%;
  height: 70px;
}
.Stun {
  text-align: center;
  font-size: 50px;
  font-family: Arial, Helvetica, sans-serif;
  color: #0a6a9b;
}
.PandT {
  width: 100%;
  display: flex;
  padding: 0px;
  margin-top: 50px;
}
.t4 {
  font-size: 30px;
  font-family: Arial, Helvetica, sans-serif;
  color: black;
}
.I3 {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 20px;
  color: black;
}
.T4 {
  text-align: left;
  height: auto;
  padding: 20px;
  margin-top: 10px;
  margin-left: 50px;
}
.Img1 {
  height: 400px;
  width: 700px;
  margin-top: 50px;
  margin-right: 30px;
}
.PandT_2 {
  width: 100%;
  display: flex;
  padding: 10px;
}
.Box_b {
  height: 500px;
  width: 100%;
  background-image: url(./Pics/cod_bg.JPEG);
  padding-top: 50px;
}
.button4 {
  padding: 10px;
  font-weight: 600;
  font-size: 20px;
  color: black;
  background-color: white;
  border-radius: 30px;
}
.button4:hover {
  border: 4px solid black;
}
.I4 {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 20px;
  color: white;
}
.t5 {
  font-size: 30px;
  font-family: Arial, Helvetica, sans-serif;
  color: white;
}
.Box_c {
  height: 500px;
  width: 100%;
  background-image: url(./Pics/re_bg.JPEG);
  padding-top: 50px;
}
.Box_d {
  height: 500px;
  width: 100%;
  background-image: url(./Pics/Howards_bg.JPEG);
  padding-top: 50px;
  margin-bottom: 60px;
}
.container {
  background-color: white;
}
.list-inline {
  margin-left: 20px;
  padding: 0;
}

.list-inline li {
  display: inline-block;
}

.box {
  width: 300px;
  height: 580px;
  background-color: rgb(233, 233, 233);
  margin-left: 40px;
}
.h3 {
  text-align: center;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  font-size: 40px;
  color: rgb(28, 80, 224);
  margin-bottom: 40px;
}
.Pictures {
  width: 250px;
  height: 150px;
  padding: 20px;
}
.Information {
  font-size: 20px;
  font-family: Arial, Helvetica, sans-serif;
}
.Sub_info {
  padding-left: 20px;
}
.Final_box {
  margin-top: 50px;
  background-color: white;
  height: 550px;
  width: 100%;
  display: flex;
}
.Final_Img {
  height: 400px;
  width: 700px;
  margin-left: 100px;
  margin-top: 150px;
}
.Final_info {
  text-align: left;
  height: auto;
  padding-left: 20px;
  margin-top: 10px;
}
.lil_p {
  font-size: 13px;
}
.lil_p1 {
  font-size: 13px;
  margin-left: 30px;
}
.button5 {
  padding: 10px;
  font-weight: 600;
  font-size: 20px;
  color: #ffffff;
  background-color: #2c64e7;
  border-radius: 30px;
}
.button5:hover {
  border: 4px solid #2c64e7;
}
.footer_box {
  background-color: #eeeeed;
  width: 91.7%;
  height: 420px;
  padding: 60px;
}
.Marvel_pic {
  width: 200px;
  height: 82px;
}
.marvel_rights {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 15px;
}
.idk {
  width: 105px;
  height: 70px;
}
.BlueFooterbox {
  background-color: #00439c;
  width: 93%;
  height: 370px;
  padding: 50px;
  display: flex;
}
.Logos {
  width: 40%;
  height: auto;
}
.Logo_play {
  width: 250px;
  height: 130px;
}
.Logo_sony {
  width: 350px;
  height: 100px;
}
.Links {
  padding: 30px;
  width: 50%;
  height: auto;
  display: flex;
  justify-content: space-around;
}
.links1 a {
  font-size: 20px;
  color: white;
  text-decoration: none;
  font-size: 15px;
  font-family: Arial, Helvetica, sans-serif;
}
.header-top {
  background-color: black;
  height: 35px;
}
.header-top h2 {
  margin-top: 8px;
  margin-right: 15px;
  float: right;
  color: white;
  font-size: 23px;
}
.i1 {
  font-size: 23px;
  margin-left: 25px;
  margin-top: 5px;
  color: royalblue;
}
.gnav-wrapper {
  position: relative;
  float: right;
  height: 25px;
  margin-right: 1000px;
  margin-top: -35px;
  font-size: 13px;
}

.gnav {
  display: flex;
  justify-content: space-between;
}

.gnav li {
  text-align: center;
  transition: all 0.3s ease-in-out;
}

.gnav li:hover {
  opacity: 0.6;
}

.gnav a {
  color: black;
  border-left: solid 1px #fefefe;
  padding: 0 10px;
}

.gnav > li:last-child a {
  border-right: solid 1px #fefefe;
}

.header-middle button {
  float: right;
  width: 80px;
  height: 23px;
  width: 80px;
  font-size: 17px;
  background-color: dimgray;
  color: white;
  border-radius: 80px;
  margin-right: 30px;
  margin-top: -20px;
  padding-bottom: 20px;
}
.i2 {
  float: right;
  margin-right: 25px;
  margin-top: -15px;
}
.header-bottom {
  height: 80px;
  border-bottom: solid black 1px;
}
.header-bottom__img img {
  height: 40px;
  width: 170px;
  margin-top: 20px;
  margin-left: 25px;
  float: left;
}
.header-bottom__contents {
  margin-left: 200px;
  margin-top: 40px;
  float: left;
}
.header-bottom__contents a {
  font-size: 18px;
  margin-left: 15px;
  padding: 15px;
}
.header-bottom__contents a:hover {
  color: royalblue;
}
.button1 {
  color: black;
  text-decoration: none;
}

ul {
  list-style: none;
}

.normal-button {
  color: black;
  text-decoration: none;
}
.normal-button2 {
  list-style: none;
  color: royalblue;
  border-bottom: royalblue solid 3px;
}
a {
  text-decoration: none;
}
