body {
  margin: 0 0;
}
a {
  text-decoration: none;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
ul {
  list-style: none;
}
.header-top {
  background-color: black;
  height: 35px;
}
.header-top h2 {
  margin-top: 8px;
  margin-right: 15px;
  float: right;
  color: white;
  font-size: 23px;
}
.i1 {
  font-size: 23px;
  margin-left: 25px;
  margin-top: 5px;
  color: royalblue;
}
.gnav-wrapper {
  position: relative;
  float: right;
  height: 25px;
  margin-right: 1000px;
  margin-top: -35px;
  font-size: 13px;
}

.gnav {
  display: flex;
  justify-content: space-between;
}

.gnav li {
  text-align: center;
  transition: all 0.3s ease-in-out;
}

.gnav li:hover {
  background: #3e3e3e;
}

.gnav a {
  color: black;
  border-left: solid 1px #fefefe;
  padding: 0 10px;
}

.gnav > li:last-child a {
  border-right: solid 1px #fefefe;
}

.gnav > li:hover .megamenu {
  max-height: 9999px;
  opacity: 1;
  padding: 30px 0;
}

.megamenu {
  background: white;
  max-height: 0;
  opacity: 0;
  overflow: hidden;
  width: 100%;
  position: absolute;
  top: 50px;
  left: 0;
  transition: all 0.2s ease-in;
  z-index: 999;
}

.megamenu-inner {
  display: flex;
  flex-wrap: wrap;
}

.megamenu-inner li {
  width: calc((100% / 5));
  padding: 0;
}

.megamenu-inner a {
  border-left: none;
}

.megamenu-inner-img {
  margin: 0 0 10px;
}

.megamenu-inner-text img {
  margin: 0 5px 0 0;
}
.header-middle button {
  float: right;
  width: 80px;
  height: 23px;
  width: 80px;
  font-size: 17px;
  background-color: dimgray;
  color: white;
  border-radius: 80px;
  margin-right: 30px;
  margin-top: -20px;
  padding-bottom: 20px;
}
.i2 {
  float: right;
  margin-right: 25px;
  margin-top: -15px;
}
.header-bottom {
  height: 80px;
  border-bottom: solid black 1px;
  position: sticky;
  top: 0;
}
.header-bottom__img img {
  height: 40px;
  width: 170px;
  margin-top: 20px;
  margin-left: 25px;
  float: left;
}
.header-bottom__contents {
  margin-left: 200px;
  margin-top: 40px;
  float: left;
}
.header-bottom__contents a {
  font-size: 18px;
  margin-left: 15px;
  padding: 15px;
}
.header-bottom__contents a:hover {
  color: royalblue;
}
.button1 {
  border-bottom: royalblue 5px solid;
  color: royalblue;
}
.normal-button {
  color: black;
}
.head-box {
  position: absolute;
  background-image: url("./pics/head.png");
  background-size: cover;
  width: 100%;
  height: 530px;
}
.head-box h2 {
  color: white;
  margin-top: 160px;
  margin-left: 280px;
  font-size: 45px;
}
.head-box h1 {
  color: white;
  margin-left: 180px;
  font-size: 45px;
}
.head-box button {
  background-color: white;
  padding: 8px 16px;
  border-radius: 70px;
  margin-left: 260px;
  font-size: 17px;
}
.head-box button:hover {
  padding: 10px 20px;
  border: 3px black inset;
}
